/* CSS Document */

.multi_slider_container{
	width: 100%;
	margin: 0px auto;
/*	border: 2px solid blue;*/
	overflow: hidden;
}

.multi_carousel{
/*	border: 2px solid green;*/
	height: 400px;
}

.multi_slider{
	height: 100%;
	width: 300%;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 0px;
/*	border: 1px solid red;*/
	
}

.multi_slider section{
	background-color: grey;
	margin: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls .arrow{
	position: absolute;
	cursor: pointer;
}

.arrow.left{
	left: 15%;
}

.arrow.right{
	right: 15%;
}

.controls ul{
	list-style-type: square;
	position: absolute;
	button: 20px;
}

section.auxillary{
	height: 80%;
	background-color: aqua;
	margin-top: 40px;
}

section.primary{
	height: 100%;
	background-color: coral;
}