/*Styles for Eddington, James Portfolio*/

.pagehead{
  text-align: right;
}

h1{  padding-top: 20px;}

h1, p{
  color: #000;
  padding-left: 10px;
  font-family: sans-serif;
}

h3{
  font-weight:normal;
  color: #000;
  font-family: sans-serif;
  font-style: italic;
  margin-bottom: 5px;
}

a{
  text-align:left;
  font-family: sans-serif;
  text-decoration: none;
  color: #222;
}

.pagehead{
  padding-top:80px;
  text-align:right;
}

ul{
  list-style-type: square;
}

#portraitPhoto{
  border-radius:50%;
  margin-top:10px;
}

#scrubberDevice{
  padding-top: 70px;
}


body{
  background-image: url("brushed_alu_dark.png");
  background-repeat: repeat;
}

.landing p{
  font-size: 1.8em;
  line-height: 1.2em;
  padding-bottom: 20px;
  font-family: Georgia;
}

.capstone p{
  font-size: 1.2em;
  line-height: 1em;
  padding-bottom: 20px;
  font-family: Georgia;
}

.works p{
  font-size: 1em;
  padding-bottom: 20px;
  font-family: Georgia;
  padding-left: 0px;
}

.code-box{
  background-color: #EEE;
  border: 1px solid #555;
  width: 99%;
  font-family:monospace;
}

.caption{

  padding:5px;
}

* {
  box-sizing: border-box;
}


/*Animations*/

.fixedHome{
  position: fixed;
  top: 0;
  background-color: #F4EDDA;
  padding:10px;
  padding-top: 20px;
  border: solid #222 2px;
  border-top: none;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  transition: 0.3s;
  color: #000;

  font-family: sans-serif;
  font-weight:bold;
  font-size: 2em;
}

.fixedHome:hover{
  background-color: #222;
  color: #FFF;
}

/*Hover for Navigation*/
.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
  color: #000;
  margin-bottom:2px;
}

.hoverUnderlineAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  margin-bottom:2px;
}

.hoverUnderlineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  margin-bottom:2px;
}
